@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --font-family-base: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.h1 {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: var(--color-text-primary);
  margin: 0;
}

.body1 {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 32px;
  line-height: 46px;
  color: var(--color-text-secondary);
  margin: 0;
}
