body {
  background: black;
  color: white;
  padding-bottom: 50vh;
}

img {
  width: 100%;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  animation: move 10s infinite alternate ease-in-out;
}

@keyframes move {
  0% {
    transform: translateY(10vh);
  }
  100% {
    transform: translateY(-10vh);
  }
}

h1 {
  font-size: 5rem;
  display: block;
  font-family: sans-serif;
}
