.mask-element {
  position: relative;
  overflow: hidden;
  will-change: filter, transform;
}

.mask-element-inner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: rotate(var(--rotation, 0deg)) scale(var(--scale, 1)) translate(var(--x-offset, 0px), var(--y-offset, 0px));
  background: var(--global-keypad-bg) center/150% no-repeat;
  filter: var(--glass-filter);
  pointer-events: none;
  z-index: 1;
}

.mask-element-inner.no-background, .keypad-no-bg .mask-element-inner { background-image: none !important; }
