⏺
<template>
  <div class="glass-effect">
    <!-- <GeFilter ... /> -->

    <div class="glass-effect__content">
      <slot name="default" />
      <slot name="hover" />
      <slot name="active" />
    </div>

    <GeHighlight :options="{ highlightReflection }" :intensity />

    <GeNoise :options="{ noiseStrength, noiseRefractionDepth }" :intensity />

    <GeLight :options="{ lightIntensity, lightSpread, lightHue }" :intensity />

    <GeOutline
      :options="{ glassTintHue, outlineIntensity, surfaceReflection, shadowDepth }"
      :intensity
    />
  </div>
</template>
